* {
    --narrow: 'PT Sans Narrow', sans-serif;
    --open: 'Open Sans', sans-serif;
}

body {
    background-color: #121618;
    color: white;
    margin: 0;
}

header {
    position: relative;
}

.logo-small {
    width: 200px;
    margin: auto;
    padding: 50px;
}

.logo-small img {
    margin: auto;
    width: 100%;
}

.logo {
    display: none;
}

.infos {
    display: flex;
    justify-content: space-between;
}

.coord {
    display: flex;
    align-items: center;
}

.phone-logo {
    width: 50px;
    height: 50px;
}

.phone-logo svg {
    width: 100%;
    height: 100%;
}

.number {
    width: max-content;
    margin: auto;
}

.number p {
    margin: 0;
}

.number :first-child {
    font-weight: bold;
}

.number :last-child {
    color: rgb(121, 121, 121);
}

.infos {
    display: none;
}

nav {
    display: none;
    border-top: solid 2px white;
}

header::after {
    
        /* Dents de cie avec background linear gradient */

        background: linear-gradient(-45deg, #121618 6px, transparent 0), linear-gradient(45deg, #121618 6px, transparent 0);
        background-repeat: repeat-x;
        background-size: 10px 12px;
        transform: rotate(180deg);
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        height: 12px;
        z-index: 10;

    /* Dents de cie avec Clip-path */

    /* background: #121618;
    content: "";
    height: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    clip-path: polygon(0 0, 2.5% 100%, 5% 0, 7.5% 100%,
            10% 0, 12.5% 100%, 15% 0, 17.5% 100%,
            20% 0, 22.5% 100%, 25% 0, 27.5% 100%,
            30% 0, 32.5% 100%, 35% 0, 37.5% 100%,
            40% 0, 42.5% 100%, 45% 0, 47.5% 100%,
            50% 0, 52.5% 100%, 55% 0, 57.5% 100%,
            60% 0, 62.5% 100%, 65% 0, 67.5% 100%,
            70% 0, 72.5% 100%, 75% 0, 77.5% 100%,
            80% 0, 82.5% 100%, 85% 0, 87.5% 100%,
            90% 0, 92.5% 100%, 95% 0, 97.5% 100%, 100% 0); */
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}

li a {
    text-decoration: none;
    color: white;
    font-family: var(--open);
    text-transform: uppercase;
    font-size: 1.2rem;
}

li {
    padding: 5px;
    position: relative;
    font-family: var(--narrow);
}

li::after {
    content: ">";
    margin-left: 10px;
    font-size: 1rem;
    color: white;
}

.burger,
.close-burger {
    position: absolute;
    top: 40%;
    right: 10px;
    width: 50px;
    height: 50px;
}

.burger svg,
.close-burger svg {
    width: 100%;
    height: 100%;
}

.burger {
    display: initial;
}

.close-burger {
    display: none;
}

.fake-diapo {
    padding-top: 50px;
    position: relative;
    background-image: url(images/slide_1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left,
.right {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    width: 40px;
    height: 40px;
}

.left svg,
.right svg {
    width: 100%;
    height: 100%;
}

.right {
    right: 5%;
}

.left {
    left: 5%;
}

figure img {
    width: 100%;
}

figure {
    order: 1;
    width: 50%;
}

.pizza-info {
    order: 2;
}

.title {
    width: 100%;
    position: relative;
    padding-bottom: 5px;
    text-align: center;
}

.title h1,
.title h2 {
    margin: 0%;
    font-size: 2rem;
    font-family: var(--narrow);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title h2 {
    width: 85%;
    margin: auto;
    padding-bottom: 10px;
    font-size: 1.4rem;
    border-bottom: solid 3px white;
}

.title svg {
    position: absolute;
    top: 30%;
    width: 30px;
    height: 30px;
}

#left {
    left: 15px;
}

#right {
    right: 15px;
}

.baliseP {
    text-align: center;
    font-family: var(--open);
}

.other-info {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn1,
.btn2 {
    padding: 10px;
    width: max-content;
    border: 2px solid white;
    margin-bottom: 100px;
}

.btn1 a,
.btn2 a {
    margin: 0;
    font-size: .8rem;
    font-family: var(--open);
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.btn2 {
    background-color: #ffc851;
    border: unset;
}

.btn2 a {
    color: black;
}
.info-quality::before{
    background: linear-gradient(-45deg, #121618 6px, transparent 0), linear-gradient(45deg, #121618 6px, transparent 0);
        background-repeat: repeat-x;
        background-size: 10px 12px;
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 100%;
        height: 12px;
        z-index: 10;
}
.info-quality {
    position: relative;
    background-image: url(images/back_2.png);
}

.info-quality div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.info-quality div img {
    margin: auto;
    width: 100px;
    height: 100px;
}

.info-quality div h3 {
    font-family: var(--narrow);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.info-quality div p {
    font-family: var(--narrow);
    text-align: center;
    margin: 20px;
}

.sales-title {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: var(--open);
    letter-spacing: 5px;
}

.pizza {
    margin-top: 20px;
    text-align: center;
}

.pizza figure {
    width: 50%;
    margin: auto;
}

.pizza figure img {
    width: 100%;
}

.pizza h4 {
    text-transform: uppercase;
    font-family: var(--open);
    letter-spacing: 3px;
}

.pizza p {
    color: rgb(155, 155, 155);
    font-family: var(--open);
}

footer {
    padding: 30px;
    border-top: 1px solid rgb(65, 65, 65);
}

footer figure {
    margin: auto;
}

address {
    display: flex;
    justify-content: space-around;
}

.number {
    margin: 0;
    font-family: var(--open);
}

.horaire {
    margin: 0;
    font-family: var(--open);
    font-size: .8rem;
    color: rgb(114, 114, 114);
}

footer nav {
    display: initial;
}

footer nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

footer nav ul li::after {
    content: "";
}

footer nav ul li {
    width: max-content;
    margin: auto;
}

.social {
    width: max-content;
    margin: auto;
}

.social svg {
    margin: 10px;
}

.copyright {
    text-align: center;
    font-size: .7rem;
    font-family: var(--open);
    color: rgb(77, 77, 77);
}

@media screen and (min-width:768px) {
    .logo-small {
        width: 300px;
    }

    .pizza figure {
        width: 30%;
        margin: auto;
    }
}

@media screen and (min-width:1240px) {
    .logo-small {
        display: none;
    }

    .pizza figure {
        width: 30%;
        margin: auto;
    }

    .burger {
        display: none;
    }

    header {
        padding-top: 2%;
        padding-bottom: 1%;
    }

    .infos {
        width: 80%;
        margin: auto;
        display: flex;
    }

    nav {
        margin-top: 20px;
        display: flex;
        border: none;
    }

    .logo {
        display: initial;
        width: 20%;
    }

    .logo img {
        width: 100%;
    }

    .cart {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .cart-logo {
        width: 40px;
        height: 40px;
    }

    .cart-logo svg {
        width: 100%;
        height: 100%;
    }

    .info p {
        text-align: right;
        margin: 0%;
    }

    .number {
        display: flex;
        flex-direction: column;
    }

    .price {
        font-family: var(--narrow);
        letter-spacing: 2px;
    }

    .items {
        font-family: var(--narrow);
        letter-spacing: 2px;
        color: rgb(110, 110, 110);
    }

    ul {
        margin: auto;
        margin-top: 20px;
        display: flex;
        gap: 40px;
    }

    li {
        width: max-content;
    }

    li::after {
        content: "";
    }

    li a:hover::after {
        content: "";
        width: 20px;
        height: 2px;
        background-color: white;
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 0;
        left: 40%;
    }

    li a {
        font-size: 1rem;
    }

    .fake-diapo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 80vh;
    }

    .pizza-info {
        order: 1;
    }

    .fake-diapo figure {
        order: 2;
        width: 30%;
    }

    .title #right,
    .title #left {
        display: none;
    }

    .right,
    .left {
        display: initial;
        cursor: pointer;
    }

    .other-info {
        margin: unset;
        width: max-content;
    }

    .btn1,
    .btn2 {
        margin: 0;
    }

    .info-quality {
        padding: 100px;
        display: flex;
        flex-direction: row;
    }

    .sales {
        width: 70%;
        margin: auto;
        display: flex;
        gap: 60px;
    }

    .pizza figure {
        width: 100%;
    }

    .logo-transp {
        width: 10%;
        margin-bottom: 50px;
    }

    address {
        width: max-content;
        margin: auto;
        flex-direction: row;
        gap: 10px;
    }

    footer nav ul {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    footer nav ul li {
        margin: 0;
    }

    footer nav ul li a {
        font-size: 1rem;
    }

    .copyright {
        text-align: center;
        font-size: 1rem;
    }

    .social {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}